* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1A1A1A;
  color: white;
}
ul{
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.container {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  margin-left: 100%;
}
.options-container {
  display: flex;

  background-color: #1A1A1A;
  color: white;
  padding: 10px;
  font-size: medium;
  width: 15%;

}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}
.vertical-icons{
  display: flex;
  flex-direction: column;

}
.rubit-icon{
  width: 100px;
  height: 80px;
  margin-right: 8%;
}


.money-manager-container {
    flex-grow: 1;
    padding-left: 20px;
}
.card-container{
  display: flex;
  flex-direction: row;
  background-color: #E5E7EB;
}